.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.788), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(243, 255, 82);
    background-color: rgba(244, 248, 26, 0);
    border:black
}

.button1{
    font-family: "Times New Roman";
    color:white;
    background-color: rgba(0, 128, 0, 0);
    padding: 14px 40px;
    border-radius: 20px;
    width: 60%;
    
}
